@model Magazine_Palpay.Application.ViewModels.MagazineLookupVM
@{
}

<div class="row mb-6">
    <div class="col-md-8">
        <label class="required fs-5 fw-bold mb-2">الاسم</label>
        <input asp-for="Name" type="text" class="form-control form-control-solid">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div style="float:left;">
    <input type="submit" class="btn btn-purble" value="حفظ" />
    <button type="reset" class="btn btn-light me-3" data-bs-dismiss="modal" aria-label="Close">إلغاء</button>
</div>