@model Magazine_Palpay.Application.ViewModels.MagazineLookupVM

 
<form role="form" class="form py-5 " action="/Admin/MagazineLookup/OnPostCreateOrUpdate?id=0" method="post">
    <partial name="_CreateOrUpdate" model="Model" />
</form>