.skin-orange footer.footer .copyright {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #222;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.carousel-control.right { 
    top: 50%;
}
.carousel-control.left { 
    top: 50%;
}
#ticker {
    background-color: #F2F2F2;
    overflow: auto;
    height: 30px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

    #ticker ul {
        display: block;
        padding: 0px;
        line-height: 30px;
        vertical-align: middle;
        margin: 0px;
        list-style: none;
        white-space: nowrap;
        animation: scroll 20s linear 0s infinite;
        position: absolute;
    }

        #ticker ul li {
            display: inline-block;
            white-space: normal;
            margin-left: 20px;
        }

    #ticker .title {
        background-color: #FB634F;
        color: #FFF;
        position: absolute;
        right: 0;
        font-weight: bold;
        border-right: 2px solid #FFF;
        top: 0;
        display: block;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 10;
        box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    }

@keyframes scroll {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(-400%, 0, 0);
    }
    /*from {
        transform: translate(100%,0);
    }

    to {
        transform: translate(-150%,0);
    }*/
}

#ticker {
    width: auto;
    margin: 0 15px;
}

    #ticker ul {
        width: 100%;
    }
.style-tag {
    background-color: #f9f5f5;
    padding: 5px;
    margin: 5px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.module {
    min-width: 270px;
    height: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear 0s;
    overflow: hidden;
    position: relative;
}

.module:hover {
    box-shadow: 0 1px 35px 0 rgba(0, 0, 0, 0.3);
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

    .thumbnail img {
        width: 120%;
        transition: all 0.3s;
    }

.module:hover .thumbnail img {
    transform: scale(1.1);
    opacity: 0.7;
}

.content {
    position: absolute;
    width: 100%;
    height: 178px;
    bottom: 0;
    background: #fff;
    padding: 30px;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.content .category {
    position: absolute;
    top: -34px;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    background: #FB634F;
    padding: 10px 15px;
    font-weight: bold;
}

.m-title {
    margin: 10px 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    line-height: inherit;
}

.color-orange {
    color: #FB634F;
}