.skin-orange footer.footer .copyright {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #222;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.carousel-control.right { 
    top: 50%;
}
.carousel-control.left { 
    top: 50%;
}
#ticker {
    background-color: #F2F2F2;
    overflow: auto;
    height: 30px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

    #ticker ul {
        display: block;
        padding: 0px;
        line-height: 30px;
        vertical-align: middle;
        margin: 0px;
        list-style: none;
        white-space: nowrap;
        animation: scroll 20s linear 0s infinite;
        position: absolute;
    }

        #ticker ul li {
            display: inline-block;
            white-space: normal;
            margin-left: 20px;
        }

    #ticker .title {
        background-color: #FB634F;
        color: #FFF;
        position: absolute;
        right: 0;
        font-weight: bold;
        border-right: 2px solid #FFF;
        top: 0;
        display: block;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 10;
        box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    }

@keyframes scroll {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(-400%, 0, 0);
    }
    /*from {
        transform: translate(100%,0);
    }

    to {
        transform: translate(-150%,0);
    }*/
}

#ticker {
    width: auto;
    margin: 0 15px;
}

    #ticker ul {
        width: 100%;
    }
.style-tag {
    background-color: #f9f5f5;
    padding: 5px;
    margin: 5px;
}