@using Magazine_Palpay.Web.ViewModels
@using Magazine_Palpay.Enums
@model Tuple<List<Magazine_Palpay.Web.Models.Post>, CurrencyViewModel>  

@{
	var lst = Model.Item1.Where(x => x.PostTypeId.Equals((int)PostTypeEnum.OtherNews) && x.MediaType.Equals(1)).Take(6).ToList();
}
   <div class="aside-body">
	@foreach(var item in lst)
	{
		    <article class="article-mini">
					<div class="inner">
						<figure>
							<a href="/PostDetails/Details?id=@item.Id">
								<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head">
							</a>
						</figure>
						<div class="padding">
							<h1><a href="/PostDetails/Details?id=@item.Id">@item.Head</a></h1>
								<p>انقر هنا لمعرفة مزيد تفاصيل الخبر</p>
						</div>
					</div>
				</article> 
		
	}
		</div>