@using Magazine_Palpay.Web.ViewModels
@using Magazine_Palpay.Enums
@model Tuple<List<Magazine_Palpay.Web.Models.Post>, CurrencyViewModel> 

@{
	var lst = Model.Item1.Where(x => x.PostTypeId != ((int)PostTypeEnum.OtherNews)
	&& x.MediaType.Equals(1)
	&& x.PostTypeId != (int)PostTypeEnum.Deals
	&& x.PostTypeId != (int)PostTypeEnum.IT
	&& x.PostTypeId != (int)PostTypeEnum.Campaines
	&& x.PostTypeId != (int)PostTypeEnum.Fintech)
   .Take(12).ToList();
} 

<div class="row"> 
	@foreach(var item in lst)
		{
  <div class="col-md-4" style="margin-bottom:10px;">
    <div class='normal'>
       <div class='module'>
        <div class='thumbnail'>
          <img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head">
        </div>
        <div class='content'>
          <a href="/PostDetails/Details?id=@item.Id" class="color-white"><div class="category">التفاصيل</div></a>
          <span class="color-orange">@item.PostType.Name</span>
          <h1 class='m-title'>@item.Head</h1>
        </div>
      </div>
    </div>
  </div>
  }
</div>


