@model List<Magazine_Palpay.Data.Models.Post>
@{
	var lst = Model.Where(x => x.MediaType.Equals(2)).Take(3).ToList();
}
    <h1 class="aside-title">الفيديوهات
		<div class="carousel-nav" id="video-list-nav">
			<div class="prev"><i class="ion-ios-arrow-left"></i></div>
			<div class="next"><i class="ion-ios-arrow-right"></i></div>
		</div>
	</h1>
	<div class="aside-body">
		<ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
			@foreach(var item in lst){
				<li><iframe width="360" height="315" src="@item.EmbedVideoLink" 
				title="@item.Head" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen></iframe></li>
			}
		</ul>
		<a href="/Home/VideoViewer">عرض المزيد من الفيديوهات</a> 
	</div>