@model List<Magazine_Palpay.Data.Models.Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home">
	<div class="container">
		<div class="row">

		</div>
		<div class="row">
			<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
				<div class="sidebar-title for-tablet">Sidebar</div>
			    <aside>
					<div class="aside-body">
						<figure class="ads">
							<img src="~/assets/UploadImages/@ViewBag.Ads">
							<figcaption>Advertisement</figcaption>
						</figure>
					</div>
				</aside>
			    <aside>
					<h1 class="aside-title">Videos
						<div class="carousel-nav" id="video-list-nav">
							<div class="prev"><i class="ion-ios-arrow-left"></i></div>
							<div class="next"><i class="ion-ios-arrow-right"></i></div>
						</div>
					</h1>
					<div class="aside-body">
						<ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
							<li><a data-youtube-id="SBjQ9tuuTJQ" data-action="magnific"></a></li>
							<li><a data-youtube-id="9cVJr3eQfXc" data-action="magnific"></a></li>
							<li><a data-youtube-id="DnGdoEa1tPg" data-action="magnific"></a></li>
						</ul>
					</div>
				</aside>
				<aside>
					<h1 class="aside-title">آخر الأخبار <a href="#" class="all">عرض الكل <i class="ion-ios-arrow-right"></i></a></h1>
					@Html.Partial("_LastPosts")
				</aside>
				<aside>
					<div class="aside-body">
						<form class="newsletter">
							<div class="icon">
								<i class="ion-ios-email-outline"></i>
								<h1>Newsletter</h1>
							</div>
							<div class="input-group">
								<input type="email" class="form-control email" placeholder="Your mail">
								<div class="input-group-btn">
									<button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
								</div>
							</div>
							<p>By subscribing you will receive new articles in your email.</p>
						</form>
					</div>
				</aside>
			
				<aside id="sponsored" style="display:none;">
					<h1 class="aside-title">Sponsored</h1>
					<div class="aside-body">
						<ul class="sponsored">
							<li>
								<a href="#">
									<img src="~/ui/images/sponsored.png" alt="Sponsored">
								</a>
							</li> 
							<li>
								<a href="#">
									<img src="~/ui/images/sponsored.png" alt="Sponsored">
								</a>
							</li> 
							<li>
								<a href="#">
									<img src="~/ui/images/sponsored.png" alt="Sponsored">
								</a>
							</li> 
							<li>
								<a href="#">
									<img src="~/ui/images/sponsored.png" alt="Sponsored">
								</a>
							</li> 
						</ul>
					</div>
				</aside>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				@Html.Partial("_CarousalPost")
				<div class="line">
					<div>الأخبار الرئيسية</div>
				</div>
				<div class="row">
					@Html.Partial("_MainPosts")
				</div>
				<div class="line top">
					<div>Just Another News</div>
				</div>
				<div class="row">
					<article class="col-md-12 article-list">
						<div class="inner">
							<figure>
								<a href="single.html">
									<img src="~/ui/images/news/img11.jpg" alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">Film</a>
									</div>
									<div class="time">December 19, 2016</div>
								</div>
								<h1><a href="single.html">Donec consequat arcu at ultrices sodales quam erat aliquet diam</a></h1>
								<p>
								Donec consequat, arcu at ultrices sodales, quam erat aliquet diam, sit amet interdum libero nunc accumsan nisi.
								</p>
								<footer>
									<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>273</div></a>
									<a class="btn btn-primary more" href="single.html">
										<div>More</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
					<article class="col-md-12 article-list">
						<div class="inner">
							<div class="badge">
								Sponsored
							</div>
							<figure>
								<a href="single.html">
									<img src="~/ui/images/news/img02.jpg" alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">Travel</a>
									</div>
									<div class="time">December 18, 2016</div>
								</div>
								<h1><a href="single.html">Maecenas accumsan tortor ut velit pharetra mollis</a></h1>
								<p>
									Maecenas accumsan tortor ut velit pharetra mollis. Proin eu nisl et arcu iaculis placerat sollicitudin ut est. In fringilla dui.
								</p>
								<footer>
									<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>4209</div></a>
									<a class="btn btn-primary more" href="single.html">
										<div>More</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
					<article class="col-md-12 article-list">
						<div class="inner">
							<figure>
								<a href="single.html">
									<img src="~/ui/images/news/img03.jpg" alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
									<a href="#">Travel</a>
									</div>
									<div class="time">December 16, 2016</div>
								</div>
								<h1><a href="single.html">Nulla facilisis odio quis gravida vestibulum Proin venenatis pellentesque arcu</a></h1>
								<p>
									Nulla facilisis odio quis gravida vestibulum. Proin venenatis pellentesque arcu, ut mattis nulla placerat et.
								</p>
								<footer>
									<a href="#" class="love active"><i class="ion-android-favorite"></i> <div>302</div></a>
									<a class="btn btn-primary more" href="single.html">
										<div>More</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
					<article class="col-md-12 article-list">
						<div class="inner">
							<figure>
								<a href="single.html">
									<img src="~/ui/images/news/img09.jpg" alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">Healthy</a>
									</div>
									<div class="time">December 16, 2016</div>
								</div>
								<h1><a href="single.html">Maecenas blandit ultricies lorem id tempor enim pulvinar at</a></h1>
								<p>
									Maecenas blandit ultricies lorem, id tempor enim pulvinar at. Curabitur sit amet tortor eu ipsum lacinia malesuada.
								</p>
								<footer>
									<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>783</div></a>
									<a class="btn btn-primary more" href="single.html">
										<div>More</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
				</div>
			</div> 
		</div>
	</div>
</section> 