@model Magazine_Palpay.Web.ViewModels.PostViewModel 
 <div class="row mb-6">
       <label class="required fs-5 fw-bold mb-2">عنوان المنشور </label>
        <input asp-for="Head"  type="text" class="form-control form-control-solid"/>
       <span asp-validation-for="Head" class="text-danger"></span>
    </div>
 <div class="row mb-6">
         <label class="required fs-5 fw-bold mb-2">النص</label> 
         <textarea asp-for="Body" class="form-control summernote note-codable" aria-multiline="true"></textarea>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
         }); 
    </script>

  <script src="~/assets/js/custom/pages/editiors/summernote.js"></script>
    <partial name="_ValidationScriptsPartial" />

}


