@model Magazine_Palpay.Web.Models.Post
@{ 
    ViewData["Title"] = "المنشورات";
    ViewData["Caption"] = "إضافة منشور جديد";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; 
}
 
 <link rel="stylesheet" href="~/assets/summernote-0.8.18-dist/summernote-lite.min.css" />
<h2 class="py-3">@ViewData["Caption"]</h2>
<hr />
<form role="form" class="form py-5 " action="/Admin/Post/OnPostCreateOrEdit?id=0" method="post" enctype="multipart/form-data">
    <partial name="_CreateOrEdit" model="Model" /> 
</form>
 
@section Scripts
{   
    <script src="~/assets/summernote-0.8.18-dist/summernote-lite.min.js"></script>
     <script>
          $(document).ready(function(){
              $(".summernote").summernote({ 
                tabsize: 2,
                height: 120,
                toolbar: [
                  ['style', ['style']],
                  ['font', ['bold', 'underline', 'clear']],
                  ['color', ['color']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['table', ['table']],
                  ['insert', ['link', 'picture', 'video']],
                  ['view', ['fullscreen', 'codeview', 'help']]
                ]
              });
              $("#PostTypeId").change(function(){
                getSubPostType();
             });
          });


        function getSubPostType() {
            $("#PostSubTypeId").select2({
                placeholder: "اختر المتفرع",
                ajax: {
                    url: "/Admin/Post/GetSubPostType",
                    contentType: "application/json; charset=utf-8",
                    data: {
                        type: $("#PostTypeId").val()
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (item) {
                                   return {
                                        id: item.id,
                                        text: item.name
                                   }; 
                            }),
                        };
                    }
                }
            });
        }

      //$(document).ready(function () {
      //    ImgUpload();
      // });

      //  function ImgUpload() {
      //    var imgWrap = "";
      //    var imgArray = [];

      //    $('.upload__inputfile').each(function () {
      //      $(this).on('change', function (e) {
      //        imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
      //        var maxLength = $(this).attr('data-max_length');

      //        var files = e.target.files;
      //        var filesArr = Array.prototype.slice.call(files);
      //        var iterator = 0;
      //        filesArr.forEach(function (f, index) {

      //          if (!f.type.match('image.*')) {
      //            return;
      //          }

      //          if (imgArray.length > maxLength) {
      //            return false
      //          } else {
      //            var len = 0;
      //            for (var i = 0; i < imgArray.length; i++) {
      //              if (imgArray[i] !== undefined) {
      //                len++;
      //              }
      //            }
      //            if (len > maxLength) {
      //              return false;
      //            } else {
      //              imgArray.push(f);

      //              var reader = new FileReader();
      //              reader.onload = function (e) {
      //                var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
      //                imgWrap.append(html);
      //                iterator++;
      //              }
      //              reader.readAsDataURL(f);
      //            }
      //          }
      //        });
      //      });
      //    });

      //    $('body').on('click', ".upload__img-close", function (e) {
      //      var file = $(this).parent().data("file");
      //      for (var i = 0; i < imgArray.length; i++) {
      //        if (imgArray[i].name === file) {
      //          imgArray.splice(i, 1);
      //          break;
      //        }
      //      }
      //      $(this).parent().parent().remove();
      //    });
      //  }
    </script>
    <partial name="_ValidationScriptsPartial" />
 
}

