@model Magazine_Palpay.Web.Models.Post
@{ 
    ViewData["Title"] = "المنشورات";
    ViewData["Caption"] = "تعديل المنشور ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; 
}

  <link rel="stylesheet" href="~/assets/summernote-0.8.18-dist/summernote-lite.min.css" />

<h2 class="py-3">@ViewData["Caption"]</h2>
<hr />
<form role="form" class="form py-5 " action="/Admin/Post/OnPostCreateOrEdit?id=@Model.Id" method="post" enctype="multipart/form-data">
    <partial name="_CreateOrEdit" model="Model" />
</form>
 
@section Scripts{
      <script src="~/assets/summernote-0.8.18-dist/summernote-lite.min.js"></script>
      <script type="text/javascript">
          $(document).ready(function(){
               $(".summernote").summernote({ 
                tabsize: 2,
                height: 120,
                toolbar: [
                  ['style', ['style']],
                  ['font', ['bold', 'underline', 'clear']],
                  ['color', ['color']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['table', ['table']],
                  ['insert', ['link', 'picture', 'video']],
                  ['view', ['fullscreen', 'codeview', 'help']]
                ]
              });
              $("#PostTypeId").change(function(){
                getSubPostType();
             });
          });
        

        function getSubPostType() {
            $("#PostSubTypeId").select2({
                placeholder: "اختر المتفرع",
                ajax: {
                    url: "/Admin/Post/GetSubPostType",
                    contentType: "application/json; charset=utf-8",
                    data: {
                        type: $("#PostTypeId").val()
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (item) {
                                   return {
                                        id: item.id,
                                        text: item.name
                                   }; 
                            }),
                        };
                    }
                }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
  
}

