@model Magazine_Palpay.Data.Models.Post
@{ 
    ViewData["Title"] = "المنشورات";
    ViewData["Caption"] = "تعديل المنشور ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; 
}

 
<h2 class="py-3">@ViewData["Caption"]</h2>
<hr />
<form role="form" class="form py-5 " action="/Admin/Post/OnPostCreateOrEdit?id=@Model.Id" method="post">
    <partial name="_CreateOrEdit" model="Model" />
</form>
 
@section Scripts{
      <script type="text/javascript">
          $(document).ready(function(){
              $("#PostTypeId").change(function(){
                getSubPostType();
             });
          });
        

        function getSubPostType() {
            $("#PostSubType").select2({
                placeholder: "اختر المتفرع",
                ajax: {
                    url: "/Admin/Post/GetSubPostType",
                    contentType: "application/json; charset=utf-8",
                    data: {
                        type: $("#PostTypeId").val()
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (item) {
                                   return {
                                        id: item.id,
                                        text: item.name
                                   }; 
                            }),
                        };
                    }
                }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
  
}

