 
 @{
    ViewData["Title"] = "المنشورات";
    ViewData["Caption"] = "إدارة المنشوارت";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; 
}
<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
 
<div class="row mb-5 justify-content-between">
    <div class="col-md-10 col-sm-9">
        <h2 class="py-2">بحث في المنشوارت</h2>
    </div>
</div>
<hr />
<form class="FilterDataTable">
    <div class="row mb-5">
        <div class="col-md-3 fv-row">
            <label class="fs-5 fw-bold mb-2">عنوان المنشور</label>
            <input id="Head" name="Head" class="form-control form-control-solid" /> 
        </div>
        <div class="col-md-3 fv-row">
            <label class="fs-5 fw-bold mb-2">نوع المنشور</label>
            <select id="PostTypeId" name="PostTypeId" asp-items="@ViewBag.PostType" data-control="select2" data-placeholder="اختر النوع ..." class="form-select form-select-solid">
                <option value="0">اختر النوع </option>
            </select>
        </div>
         <div class="col-md-3 fv-row">
            <label class="fs-5 fw-bold mb-2">تابع إلى</label>
            <select id="PostSubType" name="PostSubType" data-control="select2" data-placeholder="اختر متفرع النوع  ..." class="form-select form-select-solid">
                <option value="0">اختر متفرع النوع </option>
            </select>
        </div> 
        <div class="col-md-3 fv-row">
            <label class="fs-5 fw-bold mb-2">تاريخ الإضافة</label>
            <input id="CreatedAt" class="form-control form-control-solid" />
        </div>
    </div> 
    <div class="row mb-5 justify-content-between">
        <div class="col-md-9">
          
        </div>
        <div class="col-md-3">
            <button type="reset" id="btnReset" class="btn btn-secondary mt-4" style="float:left;">
                <span>
                    تفريغ الحقول
                </span>
            </button>
            <button type="button" id="btnSearch" class="btn btn-purble mt-4 mx-2" style="float:left;">
                بحث
            </button>
        </div>
    </div>
</form>
<hr />
<div class="row mb-5 justify-content-between">
    <div class="col-md-9 col-sm-8">
        <h4 class="mt-4 mx-2"> عرض المنشورات</h4>
    </div>
    <div class="col-md-3 col-sm-4 fv-row">
        <a href="/Admin/Post/Create" class="btn button-add mr-2" style="float:left;padding: 10px 18px;">
            <span class="navi-icon">
                <i class="las la-plus-square" style="font-size: 15px;">
                </i>
                إضافة منشور جديد
            </span>
        </a>
    </div>
</div>
<table id="PostsTable" class="data-table table align-middle table-row-dashed fs-6 gy-5" cellspacing="0">
    <thead>
        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
            <th class="text-white">العنوان</th>
            <th class="text-white">النوع</th>
            <th class="text-white">متفرع النوع</th>
            <th class="text-white">حالة النشر </th>
            <th class="text-white">الترتيب</th>
            <th class="text-white">تاريخ الاضافة</th>
            <th class="text-center min-w-100px text-white" style="width: 150px;">العمليات</th>
        </tr>
    </thead>
    <tbody class="text-gray-600 fw-bold"></tbody>
</table>
@section scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script> 
        function cb(start, end) {
            $("#CreatedAt").html(start.format("YYYY/MM/DD") + " - " + end.format("YYYY/MM/DD"));
        } 
        var start = moment().subtract(60, "days");
        var end = moment();
        $("#CreatedAt").daterangepicker({
            startDate: start,
            endDate: end,
            showDropdowns: true,
            minYear: 1901,
            maxYear: parseInt(moment().format("YYYY"), 10),
            locale: {
                format: "YYYY/MM/DD"
            }
        });
 
        $("#btnReset").click(function () {
            $("#PostTypeId").select2().val(null).trigger("change");
            $("#PostSubType").select2().val(null).trigger("change");
        });
        var table = $('#PostsTable').DataTable({
            "processing": "يرجى الانتظار .. جاري تحميل البيانات",
            "lengthMenu": [[10, 25, 50, 10000], [10, 25, 50, "10000"]],
            "processing": true,
            "serverSide": true,
            "filter": false,
            "ordering": false,
            "pageLength": 6,
            "ajax": {
                "url": '/Admin/Post/LoadAll',
                "type": "POST",
                "datatype": "json",
                "data": function (data) {
                    // Append to data
                    data.Head = $('#Head').val();
                    data.PostTypeId = $('#PostTypeId').val();
                    data.PostSubType = $('#PostSubType').val();
                    data.CreatedAt = $('#CreatedAt').val();
                }
            },
            "columnDefs": [{
                "visible": false,
                "searchable": false,
                "orderable": false
            }],
            "language": {
                "aria": {
                    "sortAscending": ": فعال لترتيب العمود تصاعديا", "sortDescending": ": فعال لترتيب العمود تنازليا"
                }
                , "emptyTable": "لا يوجد بيانات لعرضها", "info": "عرض _START_ الى _END_ من _TOTAL_ صف", "infoEmpty": "لا يوجد نتائج لعرضها", "infoFiltered": "( 1 من _MAX_ اجمالي صفوف)", "lengthMenu": "_MENU_", "search": "بحث", "zeroRecords": "لا يوجد نتائج لعرضها",
                "paginate": { "sFirst": "الاول", "sLast": "الاخير", "sNext": "التالي", "sPrevious": "السابق" }
            },
            "columns": [
                { "data": "head", "name": "head" },
                { "data": "postType", "name": "postType" },
                { "data": "postSubType", "name": "postSubType" },
                { "data": "published", "name": "published" },
                { "data": "order", "name": "order" },
                { "data": "createdAt", "name": "createdAt" },
                {
                    "name": 'buttons', "render": function (data, type, row) {
                        var jsdel = 'jQueryModalConfirm("/Admin/Post/Delete?id=' + row.id + '","هل أنت متأكد من حذف هذا العنصر؟")';
                        return "<a href='/Admin/Post/Edit?id=" + row["id"] + "' class='btn btn-sm btn-light-dark btn-icon mr-2' title='تعديل مركبة'>" +
                            "<span class='navi-icon'><i class='las la-pen'></i></span>" +
                            "</a>" +
                            "<a onclick='" + jsdel + "' class='btn btn-sm btn-light-danger btn-icon mr-2' title='حذف منشور'>" +
                            "<span class='navi-icon'><i class='las la-trash'></i></span>" +
                            "</a> "
                    }
                }
            ]
        });
        $(document).on("click", "#btnSearch", function () {
            table.draw();
        });

        $(document).on("click", "#btnReset", function () {
            $("#PostsTable").DataTable().search("").draw();
        });
     
         $(document).ready(function(){
              $("#PostTypeId").change(function(){
                getSubPostType();
             });
          });

        function getSubPostType() {
            $("#PostSubType").select2({
                placeholder: "اختر المتفرع",
                ajax: {
                    url: "/Admin/Post/GetSubPostType",
                    contentType: "application/json; charset=utf-8",
                    data: {
                        type: $("#PostTypeId").val()
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (item) {
                                   return {
                                        id: item.id,
                                        text: item.name
                                   }; 
                            }),
                        };
                    }
                }
            });
        }
    </script>
}
