@model Magazine_Palpay.Web.Models.Department

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
} 
<h4 class="mb-6 mt-3">إضافة قسم</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-6">
               <label class="required fs-5 fw-bold mb-2">قسم </label>
                <input asp-for="Name" class="form-control" />
               <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div style="float:left;">
                <input type="submit" class="btn btn-purble" value="حفظ" />
                <a class="btn btn-light me-3" href='javascript:history.go(-1)'>رجوع</a>
           </div>
        </form>
    </div>
</div> 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
