@*<style>
    .signout-btn{
        background-color: transparent !important;
        border: none !important;
    }
</style>*@
<div id="kt_header" class="header align-items-stretch">
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_aside_mobile_toggle">
                <span class="svg-icon svg-icon-2x mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                        <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
            <a href="../../demo1/dist/index.html" class="d-lg-none">
                <img alt="Logo" src="~/assets/media/logos/faviconPalPay.ico" class="h-30px" />
            </a>
        </div>
        <div class="d-flex align-items-stretch mt-4 justify-content-between flex-lg-grow-1">
            <div class="d-flex align-items-stretch">
                <div class="align-items-stretch d-none d-lg-block d-md-none">
                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="form-control search-input" placeholder="بحث" style="width: 400px !important;" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                    </div>
                </div>
            </div>
            <img src="~/assets/media/backgrounds/p-1.png" style="position: absolute; left:80px; z-index: -1" width="160" />
            <img src="~/assets/media/backgrounds/p-1.png" style="position: absolute; right:500px; z-index: -1" width="150" />

            <div class="d-flex align-items-stretch flex-shrink-0">
                <div class="d-flex align-items-stretch flex-shrink-0">
                    <div class="d-flex align-items-center ms-1 ms-lg-3">
                        <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="41.001" height="42.708" viewBox="0 0 41.001 42.708">
                                    <g id="notification-outline-badged" transform="translate(-3.05 -1)">
                                        <path id="Path_22" data-name="Path 22" d="M18.759,34.926A3.426,3.426,0,0,0,22.07,32H15.32a3.426,3.426,0,0,0,3.439,2.926Z" transform="translate(3.476 8.782)" fill="#fff" />
                                        <path id="Path_23" data-name="Path 23" d="M40.855,35.211a18.479,18.479,0,0,1-3.221-3.76A16.208,16.208,0,0,1,35.9,25.278V18.939a14.012,14.012,0,0,0-.205-2.3,9.547,9.547,0,0,1-2.875-1.078,11.408,11.408,0,0,1,.513,3.388v6.339A18.274,18.274,0,0,0,35.453,32.8a20.75,20.75,0,0,0,3.131,3.85H5.719A20.751,20.751,0,0,0,8.85,32.8a18.274,18.274,0,0,0,2.117-7.507V18.939A11.293,11.293,0,0,1,22.235,7.595a11.049,11.049,0,0,1,6.108,1.848A9.612,9.612,0,0,1,28.01,7.2V6.388a13.577,13.577,0,0,0-4.26-1.283V3.488a1.713,1.713,0,1,0-3.426,0V5.169A13.872,13.872,0,0,0,8.388,18.939v6.339a16.208,16.208,0,0,1-1.732,6.173,18.479,18.479,0,0,1-3.17,3.76,1.283,1.283,0,0,0-.436.962v1.745A1.283,1.283,0,0,0,4.333,39.2H40.008a1.283,1.283,0,0,0,1.283-1.283V36.173A1.283,1.283,0,0,0,40.855,35.211Z" transform="translate(0 0.22)" fill="#fff" />
                                        <path id="Path_24" data-name="Path 24" d="M37.833,7.416A6.416,6.416,0,1,1,31.416,1,6.416,6.416,0,0,1,37.833,7.416Z" transform="translate(6.218)" fill="#89298c" />
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center ms-1 ms-lg-3" style="display:flex;">
                        <div class="dropdown" style="display:flex;">
                            <a style="display:flex;" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <div style="display:flex;" class="cursor-pointer symbol symbol-30px symbol-md-40px">
                                    <img src="~/assets/media/avatars/150-26.jpg" alt="user" class="rounded-circle" />
                                    <b class="text-white font-weight-bold d-none d-md-block cursor-pointer px-3 pt-3"> مرحبا أدمن</b>
                                    <span class="cursor-pointer px-2 mt-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 21 12">
                                            <path id="drop-down" d="M7.5,12,18,24,28.5,12Z" transform="translate(-7.5 -12)" fill="#fff" fill-rule="evenodd" />
                                        </svg>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu menu menu-sub menu-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li class="menu-item dropdown-item">
                                    <a href="https://sso.palpay.ps/" class="menu-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28.403 34.952">
                                            <g id="Group_206" data-name="Group 206" transform="translate(1 1)">
                                                <ellipse id="Ellipse_54" data-name="Ellipse 54" cx="8.489" cy="8.489" rx="8.489" ry="8.489" transform="translate(4.713 0)" fill="none" stroke="#89298c" stroke-width="2" />
                                                <path id="Path_602" data-name="Path 602" d="M28.948,58.7H21.256A9.361,9.361,0,0,0,11.9,68.056v4.123H38.3V68.021A9.331,9.331,0,0,0,28.948,58.7Z" transform="translate(-11.9 -39.227)" fill="none" stroke="#89298c" stroke-width="2" />
                                            </g>
                                        </svg>
                                        <span class="item-user p-3">حسابي</span>
                                    </a>
                                </li>
                                <li class="menu-item dropdown-item">
                                 <form>
                                     <button type="submit" class="menu-link signout-btn">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 29.409 29.402">
                                            <path id="logout" d="M4.5,7.767A3.277,3.277,0,0,1,7.767,4.5H20.835V7.767H7.767V30.635H20.835V33.9H7.767A3.277,3.277,0,0,1,4.5,30.635Zm23.156,9.8-4.142-4.142,2.31-2.31L33.909,19.2l-8.086,8.086-2.31-2.31,4.142-4.142H16.9V17.568Z" transform="translate(-4.5 -4.5)" fill="#732278" fill-rule="evenodd" />
                                        </svg>
                                        <span class="item-user p-3">تسجيل الخروج</span>
                                      </button>
                                </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center d-lg-none ms-2 me-n3" title="Show header menu">
                       <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_subMenu_mobile_toggle">
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M13 11H3C2.4 11 2 10.6 2 10V9C2 8.4 2.4 8 3 8H13C13.6 8 14 8.4 14 9V10C14 10.6 13.6 11 13 11ZM22 5V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4V5C2 5.6 2.4 6 3 6H21C21.6 6 22 5.6 22 5Z" fill="black" />
                                    <path opacity="0.3" d="M21 16H3C2.4 16 2 15.6 2 15V14C2 13.4 2.4 13 3 13H21C21.6 13 22 13.4 22 14V15C22 15.6 21.6 16 21 16ZM14 20V19C14 18.4 13.6 18 13 18H3C2.4 18 2 18.4 2 19V20C2 20.6 2.4 21 3 21H13C13.6 21 14 20.6 14 20Z" fill="black" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/assets/media/backgrounds/p-1.png" style="position: absolute; z-index: -1;" />
</div>