@model Magazine_Palpay.Data.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
} 

<h4 class="mb-6 mt-3">إضافة كتاب</h4>
<hr />
<div class="row">
         <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-6">
               <label class="required fs-5 fw-bold mb-2">الاسم</label>
                <input asp-for="Name" class="form-control form-control-solid" />
               <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
           <div class="row mb-6">
               <label class="required fs-5 fw-bold mb-2">النوع </label>
                <select asp-for="BookCategoryId" class ="form-control form-select-solid" asp-items="ViewBag.BookCategoryId"></select>
            </div>
            <div class="row mb-6">
               <label class="fs-5 fw-bold mb-2">اسم الناشر </label>
                <input asp-for="Author" class="form-control form-control-solid" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
           <div class="row mb-6">
               <label class="required fs-5 fw-bold mb-2">ملف الكتاب </label>
               <input name="linkFile" type="file" class="form-control form-control-solid" />
             </div>
           <div class="row mb-6">
                <label class="required fs-5 fw-bold mb-2">الصورة الرئيسية</label> 
                <input name="imageBook" type="file" class="form-control form-control-solid"/>
            </div> 
            <div style="float:left;">
                <input type="submit" class="btn btn-purble" value="حفظ" />
                <a class="btn btn-light me-3" href='javascript:history.go(-1)'>رجوع</a>
            </div> 
        </form>
 </div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
