    <div class="aside-body">
	@foreach(var item in ViewBag.Posts)
	{
		    <article class="article-mini">
					<div class="inner">
						<figure>
							<a href="/PostDetails/Details?id=@item.Id">
								<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head">
							</a>
						</figure>
						<div class="padding">
							<h1><a href="/PostDetails/Details?id=@item.Id">@item.Head</a></h1>
							@if(item.Body.Length > 50){
								<p>@Html.Raw(item.Body.Substring(0,50)+"..........")</p>
							}
							else
							{
								<p>@Html.Raw(item.Body)</p>
							}
						</div>
					</div>
				</article> 
		
	}
		</div>