@using Magazine_Palpay.Web.ViewModels
@using Magazine_Palpay.Enums
 
   <div class="aside-body">
	@foreach(var item in ViewBag.Posts)
	{
		    <article class="article-mini">
					<div class="inner">
						<figure>
							<a href="/PostDetails/Details?id=@item.Id">
								<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head">
							</a>
						</figure>
						<div class="padding">
							<h1><a href="/PostDetails/Details?id=@item.Id">@item.Head</a></h1>
						</div>
					</div>
				</article> 
		
	}
		</div>