	<style>
	.box-size{
		min-height: 420px !important;
	}
	</style>


@foreach(var item in ViewBag.MainPosts)
	{
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class='normal' style="margin:10px 0;">
					<div class='module'>
					<div class='thumbnail'>
						<a href="/PostDetails/Details?id=@item.Id">
							<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head"> 
 						</a>
						<img src="~/assets/UploadImages/@item.MainImage" alt="@item.Head">
					</div>
					<div class='content'>
						<a href="/PostDetails/Details?id=@item.Id" class="color-white"><div class="category">التفاصيل</div></a>
						<span class="color-orange">@item.PostType.Name</span>
						<h1 class='m-title'>@item.Head</h1>
					</div>
					</div>
				</div> 
		</div>
	}